@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: 178 58% 42%;
  --accent-foreground: 0 0% 100%;
  --background: 0 0% 100%;
  --border: 214 32% 91%;
  --foreground: 222 47% 11%;
  --input: 214 32% 91%;
  --primary: 222 47% 11%;
  --primary-foreground: 0 0% 100%;
  --ring: 178 58% 42%;
  --secondary: 210 40% 96%;
  --secondary-foreground: 222 47% 11%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}
